.createPage {
    margin-inline: auto;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
}

@media (min-width:768px) {
    .createPage {
        max-width: 980px;
        
        grid-template-columns: 6fr 5fr;
        gap: 20px;
    }
}

/*
.createPage {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
}
*/
.addForm {
    flex: 1;
    max-width: 400px;
}

.preview {
    flex: 1;
    max-width: 500px;
}