@use '../core/mixins' as mx; 

.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;

  &__text {
    font-size: 18px;
    margin-bottom: 20px;

    @include mx.tablet {
      font-size: 20;
    }
  }
}

.titleh1 {
  font: var(--font-title-biggest);
  text-align: center;
  margin-bottom: 20px;
  margin-top: 40px;
}

.graphic {
  width: 280px;
  display: flex;
  flex-direction: row;

  @include mx.tablet {
    width: 350px;
  }
}

.btn__links {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}